{% extends 'catalog/base.html' %}

{% block title %}
    <h1 class="display-4">Skystore</h1>
    <p class="lead">Категория {{ category_products.0.0.category.name }}</p>
{% endblock %}

{% load static %}
{% block content %}
<div class="container">
    <a href="{% url 'catalog:catalog_list' %}" class="btn btn-secondary mb-3">← Назад</a>

    {% for row in category_products %}
        <div class="row text-center">
            {% for product in row %}
                <div class="col-3">
                    <div class="card mb-4 box-shadow">
                        <div class="card-header">
                            <h4 class="my-0 font-weight-normal">
                                <a href="{% url 'catalog:catalog_detail' pk=product.pk %}" style="text-decoration: none;">
                                    {{ product.name }}
                                </a>
                            </h4>
                        </div>
                        {% if product.image %}
                            <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.name }}">
                        {% else %}
                            <img src="{% static 'img/default_photo.png' %}" class="card-img-top" alt="Нет изображения">
                        {% endif %}
                        <div class="card-body">
                            <h1 class="card-title pricing-card-title">{{ product.price }}$</h1>
                            <p class="card-text">{{ product.description|truncatechars:100 }}</p>
                            <button type="button" class="btn btn-lg btn-block btn-outline-primary">Купить</button>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endfor %}
</div>
{% endblock %}
